[Desktop Entry]
Name=File Manger
Comment=Access and organize files
Keywords=folder;manager;explore;disk;filesystem;
Exec=/home/tushar/Desktop/PyApps/scripts/filemanager.py
Icon=system-file-manager
Terminal=false
Type=Application

Categories=Utility;FileManager;
MimeType=inode/directory;application/x-gnome-saved-search;


