.header
{
margin-left:-10px;
margin-top:-8px;
width:100%;
text-align:center;
height:100px;
background:none;
position:absolute;


}
.headbar
{

position:relative;
color:#ffffff;
height:55px;
width:20%;
background:none;
display:inline-block;
margin-top:30px;
margin-left:30px;
border-top:solid 1px #e6e6e6;
cursor:pointer;
}
.headimg
{
width:20%;
height:3px;
background:#ff6600;
float:left;

}
.error {color: #FF0000;}
a
{
color:#ffffff;
}
body {
background:url('../img/stud.jpg') no-repeat;
background-size:cover;
background-attachment:fixed;
text-align:center;
}
.login
{

display:inline-block;
margin-top:120px;
text-align:center;

-webkit-box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    6px 6px 8px 0px rgba(50, 50, 50, 0.61);
box-shadow:         6px 6px 8px 0px rgba(50, 50, 50, 0.61);
width:330px;
height:390px;
background:#ffffff;
color:#00000;
}
.avatar
 {
display:inline-block;
margin-top:20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
background:url('../img/avatar.png');
    behavior: url(PIE.htc); 
background-size:100%;
background-position:center;
}
.lbtn
{
width:100px;
height:25px;
background:#8F0000;
display:inline-block;
color:#ffffff;
cursor:pointer;
padding-top:7px;

}
.lbtn:hover
{
background:#CC0000;
}
a:hover
{
color:#808080;
}
img:hover
{
opacity: 0.4;
    filter: alpha(opacity=40);
}
.Register
{
display:inline-block;
margin-top:100px;
text-align:left;
padding-left:10px;
-webkit-box-shadow: 6px 6px 8px 0px rgba(50, 50, 50, 0.61);
-moz-box-shadow:    6px 6px 8px 0px rgba(50, 50, 50, 0.61);
box-shadow:         6px 6px 8px 0px rgba(50, 50, 50, 0.61);
width:800px;
height:820px;
background:#ffffff;
color:#00000;
}
