@-webkit-keyframes test{
0% {
    background-image: url('image/friends1.jpg');
}

15% {
    background-image: url('image/friends2.jpg');
}
30% {
    background-image: url('image/friends3.jpg');
}
45% {
    background-image: url('image/friends4.jpg');
}
60% {
    background-image: url('image/friends5.jpg');
}
75% {
    background-image: url('image/friends6.jpg');
}
90% {
    background-image: url('image/bing.png');
}

}
/*Featured Content Background*/
body { 

-webkit-animation-name: test;
-webkit-animation-duration: 25s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-timing-function: linear;

    margin: 0px;
	padding: 0px;
	background-image:url('image/bing.png');
	background-attachment:fixed;
	background-size: 100% 170%;
}
header{
	width:100%;
	height:30px;
	background-color: black;
	color:white;
	font-family: cursive;
	text-align: left;
	background-attachment:fixed;
}
/*.like
{

width: 349px;
float: left;
border-right: 1px solid #303030;
height: 280px;
position: relative;
background:transparent;
z-index:1;
background-color:white;
}*/
span{
	color:red;
	font-weight: bold;

}
#signupbar{
	
	position: relative;
	float:right;
	z-index:4;
	background-color:black;
	color:white;
}

#logo{
	position: relative;
	z-index: 5;
    text-align: center;
    top: -30px;
    background-attachment:fixed;   
}

#signupbutton{
text-decoration: none;
text-align: right;
list-style: none;
position:relative;
top:-3px;
background-color:black;
color:white;
float: right;
border-style:hidden;
border-width:thick;
border-color:black;	
}
#signupbutton:hover{
cursor: pointer;
color:white;
border-bottom-color:orange;	
border-style:solid;
border-width:medium;
cursor: pointer;
}
iframe{
margin-left:0px;

}
#signup_container{
	
text-align:right;
float:right;
margin-left:50%;
    /*height:40%;*/
    width:100%;
   text-align: center;
	position: relative;
	
	left: 40px;
   }

h1,h2{
 	
	font-family:cursive;
	color:#fe9f01;
	margin: 5px;
	font-weight: bold;
}
input[type=text],input[type=password]{
	margin:4px;
	padding: 3px;
	height:20px;
	width:20%;
	border-radius: 4px;
	background-color: white;
	color:black;
	border-style:hidden;
}
input[type=password]{
	position: relative;
	left:3px;
}
input[type=number]:focus,input[type=password]:focus{
	border-color: orange;
	border-style: solid;
	border-width: 3;
	border-radius: 7px;
	background-color: black;
	color:orange;
}
input[type=submit]{
	margin-top:10px;
	margin-bottom: 20px;
	color:white;
	background:orange;
	border-radius: 7px;
	box-shadow:3px 3px 3px orange offset;
	padding: 5px;
	height: 35px;
	width:20%;
	border-style: solid;
	border-color: orange;
	-webkit-transition: box-shadow 2s,background-color 2s;
	-moz-transition: box-shadow 2s,background-color 2s;
}
input[type=submit]:hover{
	color:white;
    cursor: pointer;
	box-shadow:5px 5px 5px #55aa77 inset;
	border-style: none;
	background-color: green;
	
}

#signupbtn{
	
	margin-top:10px;
	color:white;
	background:green;
	border-radius: 7px;
	box-shadow:3px 3px 3px orange offset;
	padding: 5px;
	height: 35px;
	width:20%;
	border-style: solid;
	border-color:green;
	
}