body{

	 margin:0px;
	 
	 background-repeat: no-repeat;
	 background-size: 1368px 700px;

	 
}

#head_bar{
	color:white;
	opacity:0.4;
}
#search{

		position:absolute;
 		top:30%;
	 	left:30%;
	 	height:5%;
	 	width:40%;
	 	opacity:0.5;
	 	border-style:none;
	 	text-align: center;
	 	padding: 0.2%;
	 	font-size: 100%;
	 	display: inline;

	 	
}

#search:hover,#search:focus{
	opacity:0.9;
	color:green;
	


}
#search_button_image{
	cursor: pointer;
	display: inline;
	width:3%;
	height:6.5%;
	position:absolute;
	top:29.7%;
	left:67.7%;


}
#results{
background-color:white ;
opacity:0.5;
color:green;
position:absolute;
top:36%;
width:40.5%;
margin-left:30%;

}