
body
{
	
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
	font-family:monospace;
}

#signupcontainer
{   background-color:transparent;
	
	width: 60%;
	position: relative;
	top:  10px;
	margin-left:250px;
	border:2px solid #9df394;
	box-shadow: 0px 10px 30px 15px #f7d6bd;
	border-top-right-radius: 45px;	
	border-bottom-left-radius: 45px;
}
#firstname,#lastname,#pwd,#pwd1,#pwd2,#other,#roll
{
width:50%;
height:8%;
background-color:transparent;
color:white;
font-weight:800;	
margin:10px;
border-radius: 15px;
border-style: groove;
border-color:white;
text-align: center;
border-width: 3;
padding-top: 4px;
padding-bottom: 4px;
}
#firstname:focus,#lastname:focus,#pwd1:focus,#pwd:focus,#pwd2:focus,#roll:focus
{
 border-color:blue;
 border-width: medium;
 border-style: solid;	
 color:white;
}
#terms{
	display:inline;
	color:white;
	font-size: 7px;
}
#terms:hover
{
	cursor:pointer;
	color:white;
	font-weight: bold;
	font-size: 20px;
}
[type=submit],[type=reset],button
{   height:5%; 
	width:40%;
	background-color:black;
	color:white;
	opacity:0.7;
	border-style: solid gray;
	border-radius: 10px;
	margin-top:20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-bottom: 20px;
	box-shadow:10px 10px 10px #888;
}
[type=submit]:hover,button:hover
{
 background-color: #84ea86;
 color:black;	
 opacity: 1;
 cursor: pointer;	
 border-color: #fc6c03;
 border: 3px;
 border-radius: 30px;
 box-shadow:10px 10px 10px #65fa96;
}
[type=reset]:hover
{
 opacity: 1;
 cursor: pointer;	
 border-color: #fc6c03;
 border: 3px;
 border-radius: 30px;
 background-color: orange;
 box-shadow:10px 10px 10px #fec77c;
 color:black;
}
span
{   
	color:red;
	font-weight: lighter;
	height: auto;
	width: 10px;
}
#main
  {  position:relative;
    background-color:transparent;
	height: 100%;
	width: 60%;
	display:inline;
	position: relative;
	top:  150px;
	margin-left:250px;
	margin-bottom:0px;
	border:2px solid #9df394;
	box-shadow: 0px 10px 30px 15px #f7d6bd;
	border-top-right-radius: 45px;	
	border-bottom-left-radius: 45px;

}
.gen{
color:yellow;
font-family:cursive;
font-weight:600;
}
#other{
width:40%;
height:8%;
}
