.loginBtn,.registerBtn{
  border-style:solid;
  background-color:inherit;
  color:white;
  width:10%;
  border-width:1px;
  border-radius:7px;
  margin:7px;
  padding:2px;
  position:absolute;
  top:10px;


}
.loginBtn{
  right:20px;
}
.registerBtn{
  right:150px;
}
.loginBtn:hover,.registerBtn:hover{
  -webkit-animation: changeColor 1s ease-in; /* Chrome, Safari, Opera */
  animation: changeColor 1s ease-in;



}

@-webkit-keyframes changeColor {
  0% {border-color:black;border-width:2px;}
  30%{border-color:orange;border-width:3px;}
  60%{border-color:yellow;border-width:3.2px;}
  100% {border-color:white;border-width:3.4px;}
}

/* Standard syntax */
@keyframes changeColor {
  0% {border-color:white;border-width:2px;}
  30%{border-color:orange;border-width:3px;}
  60%{border-color:yellow;border-width:3.2px;}
  100% {border-color:white;border-width:3.4px;}
}
