@font-face
{
	 font-family: "myfont1";
    src: url("CusFonts/GoodDog.woff") format('woff');
    font-weight: bold;
    
}

@font-face{
	font-family: "myfont2";
    src: url("CusFonts/desyrel.woff") format('woff');
    font-weight: bold;

}
@font-face{
	font-family: "myfont3";
    src: url("CusFonts/journal.woff") format('woff');
    font-weight: bold;


}

#navvy{
	font-family: myfont1;
	font-size: 20px;
	background-color: maroon;
	color:white;
	background: transparent;
	z-index: 10;
}
body{
	background: url("whitebrick.png");
	background-attachment: fixed;


}
#logo{
	position: absolute;
	top:5px;
	right:150px;
}
#logoShade{
	position: absolute;
	top:110px;
	right:150px;
}

.maggyLogo{
position: absolute;
	top:5px;
	left:100px;
}
.maggyShade{
	position: absolute;
	top:110px;
	left:100px;

}

#talk{
	background-color: rgba(68, 87, 83, 0.6);
	width:100%;
	height:70%;
	margin-top:10%;
	margin-bottom:10%;
	padding: 2%;
}
#footer{
	
	background-color:rgba(1,1,1,0.5); /*#f39f19;*/

	
	margin-bottom:10%;
	font-size: 15px;
	text-align: center;
}
.glyphicon{
	position: relative;
top: 31px;
left: -248px;
}
.glyphicon-pencil{
left: -528px;
top: 31px;
}

.form-control{
	padding-left: 50px;
}
#abt{
	position: relative;
top: -148px;
left: -500px;
}
.fa{
	color: gray;
	
}
tr:hover{
 cursor: pointer;
 color:maroon;
}
th{
	background-color:maroon;
	color:white;
}
table{
	background-color:transparent;
	margin-bottom: 5%;

}
caption{
	background-color: maroon;
	opacity:0.5;
	color:white;
}
tfoot{
		background-color: maroon;
	opacity:0.8;
	color:white;
}
tfoot>tr:hover{
	color:maroon;
	background-color: gray;
	opacity: 1;
}

#privacy{
	padding-left:6%;
	padding-right:6%;
	padding-top: 2%;
	padding-bottom: 2%;
	font-family:monospace;
	color:white;
	font-size: 10px;
}
#privacy>h4{
	color:rgba(188, 87, 83, 0.6);
	margin-bottom: 2%;
}
#privacy>h4:hover{
	rgba(188, 87, 83, 0.9);
}